
.dialog-tabelas-banco{}

.dialog-tabelas-banco .tabela {
    margin: 0 1em 1em 0;
    /*width: 230px;*/
    float: left;
}

.dialog-tabelas-banco .tabela .nome{
    margin: 0.3em;
    padding-bottom: 4px;
    padding-left: 0.2em;
    cursor: move;
    height: 20px;
    line-height: 25px;

}
.dialog-tabelas-banco .tabela .ui-icon {
    float: right;
    margin-top: 3px;
    cursor: default;
}
.dialog-tabelas-banco .tabela .campos {
    padding: 0.1em;
    font-size: 11px;
}

.dialog-tabelas-banco .tabela .campos table tr td{
    padding-right: 2px;
}






